boiler_room/red-node.txt
[{"id":"414e9b38.5f54a4","type":"debug","z":"d29c9582.b6dce8","name":"","active":true,"console":"false","complete":"payload","x":970,"y":120,"wires":[]},{"id":"87d27acf.99565","type":"mqtt in","z":"d29c9582.b6dce8","name":"All","topic":"#","qos":"0","broker":"792804ef.7a061c","x":892,"y":68.5,"wires":[["414e9b38.5f54a4"]]},{"id":"a8d26b50.ffc0c8","type":"mqtt out","z":"d29c9582.b6dce8","name":"BoilerVentil","topic":"inKotelna/22","qos":"1","retain":"","broker":"792804ef.7a061c","x":802,"y":323,"wires":[]},{"id":"9f852ad1.a473e","type":"function","z":"d29c9582.b6dce8","name":"prepDB","func":"msg1 = {};\nmsg1.payload = {device:\"boiler\", value: parseFloat(msg.payload)}\nreturn msg1;","outputs":1,"noerr":0,"x":160,"y":100,"wires":[["8282245a.bafd9","6aa5099.8a7b6f8"]]},{"id":"d9ae931e.7021e8","type":"mqtt in","z":"d29c9582.b6dce8","name":"Boiler","topic":"outKotelna/sensors/28FFCAA0A21604E0","qos":"0","broker":"792804ef.7a061c","x":110,"y":60,"wires":[["9f852ad1.a473e","e29ec9e4.28f34"]]},{"id":"a127881f.5d00b8","type":"influxdb out","z":"d29c9582.b6dce8","influxdb":"3ad20878.7fabe","name":"Temperature","measurement":"temperature","precision":"","retentionPolicy":"","x":447,"y":164,"wires":[]},{"id":"24bce9c6.e9a4fe","type":"function","z":"d29c9582.b6dce8","name":"prepDB","func":"msg1 = {};\nmsg1.payload = {device:\"kotel\", value: parseFloat(msg.payload)}\nreturn msg1;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["8282245a.bafd9","6aa5099.8a7b6f8"]]},{"id":"6f429fde.c9d718","type":"mqtt in","z":"d29c9582.b6dce8","name":"Kotel","topic":"outKotelna/sensors/28FFF8E7A2160481","qos":"0","broker":"792804ef.7a061c","x":110,"y":140,"wires":[["24bce9c6.e9a4fe"]]},{"id":"bed41f8a.b70e2","type":"function","z":"d29c9582.b6dce8","name":"prepDB","func":"msg1 = {};\nmsg1.payload = {device:\"topeni\", value: parseFloat(msg.payload)}\nreturn msg1;","outputs":1,"noerr":0,"x":160,"y":260,"wires":[["6aa5099.8a7b6f8"]]},{"id":"e1183ee9.65561","type":"mqtt in","z":"d29c9582.b6dce8","name":"Topeni","topic":"outKotelna/sensors/28FF76A0A216048E","qos":"0","broker":"792804ef.7a061c","x":110,"y":220,"wires":[["bed41f8a.b70e2"]]},{"id":"ca4c45e1.b65ca8","type":"mqtt out","z":"d29c9582.b6dce8","name":"BoilerCerpadlo","topic":"inKotelna/24","qos":"1","retain":"","broker":"792804ef.7a061c","x":1171,"y":314,"wires":[]},{"id":"e29ec9e4.28f34","type":"ui_gauge","z":"d29c9582.b6dce8","name":"","group":"fbee898c.777718","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"C","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":351.5,"y":37.5,"wires":[]},{"id":"6d3c07d4.ef77d8","type":"inject","z":"d29c9582.b6dce8","name":"Ping 10min","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"x":148.5,"y":348.5,"wires":[["977cb041.296c38"]]},{"id":"8282245a.bafd9","type":"join","z":"d29c9582.b6dce8","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.device","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":428.5,"y":241.5,"wires":[["29a8c9d2.4dfef6"]]},{"id":"a6ad8b86.d69c78","type":"debug","z":"d29c9582.b6dce8","name":"","active":true,"console":"false","complete":"true","x":964.5,"y":190,"wires":[]},{"id":"29a8c9d2.4dfef6","type":"switch","z":"d29c9582.b6dce8","name":"IF","property":"payload.kotel.value","propertyType":"msg","rules":[{"t":"gte","v":"payload.boiler.value","vt":"msg"},{"t":"else"}],"checkall":"false","outputs":2,"x":469.5,"y":283.5,"wires":[["83d6fb16.58719"],["eca35245.3ade48"]]},{"id":"83d6fb16.58719","type":"change","z":"d29c9582.b6dce8","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.5,"y":250.5,"wires":[["c1df6768.a175c8"]]},{"id":"eca35245.3ade48","type":"change","z":"d29c9582.b6dce8","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":606,"y":296,"wires":[["c1df6768.a175c8"]]},{"id":"c1df6768.a175c8","type":"rbe","z":"d29c9582.b6dce8","name":"change","func":"rbe","gap":"","start":"","inout":"out","x":779.5,"y":269.5,"wires":[["a6ad8b86.d69c78","5af733f2.0b0504","a8d26b50.ffc0c8","38dca6b1.60423a"]]},{"id":"d8150d74.13e308","type":"delay","z":"d29c9582.b6dce8","name":"Wait 90s","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1114.5,"y":266.5,"wires":[["ca4c45e1.b65ca8"]]},{"id":"977cb041.296c38","type":"mqtt out","z":"d29c9582.b6dce8","name":"NOOP","topic":"inKotelna/NOOP","qos":"0","retain":"","broker":"792804ef.7a061c","x":176.5,"y":390,"wires":[]},{"id":"6aa5099.8a7b6f8","type":"switch","z":"d29c9582.b6dce8","name":"CheckErrors","property":"payload.value","propertyType":"msg","rules":[{"t":"lt","v":"-100","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":402.5,"y":124.5,"wires":[["57086713.d8cd68"],["a127881f.5d00b8"]]},{"id":"57086713.d8cd68","type":"e-mail","z":"d29c9582.b6dce8","server":"","port":"465","secure":true,"name":"","dname":"Notification","x":650.5,"y":66,"wires":[]},{"id":"791dd62a.98cb1","type":"mqtt in","z":"d29c9582.b6dce8","name":"Restarting","topic":"outKotelna/online","qos":"0","broker":"792804ef.7a061c","x":459.5,"y":344.5,"wires":[["eca35245.3ade48"]]},{"id":"5af733f2.0b0504","type":"switch","z":"d29c9582.b6dce8","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","outputs":2,"x":962.5,"y":272.5,"wires":[["d8150d74.13e308"],["ca4c45e1.b65ca8"]]},{"id":"5293bcb2.1e6574","type":"influxdb out","z":"d29c9582.b6dce8","influxdb":"3ad20878.7fabe","name":"Power","measurement":"power","precision":"","retentionPolicy":"","x":1019.5,"y":350.5,"wires":[]},{"id":"38dca6b1.60423a","type":"function","z":"d29c9582.b6dce8","name":"prepDB","func":"msg1 = {};\nmsg1.payload = {device:\"boilerCerpadlo\", value: msg.payload}\nreturn msg1;","outputs":1,"noerr":0,"x":963.5,"y":313.5,"wires":[["5293bcb2.1e6574"]]},{"id":"792804ef.7a061c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3ad20878.7fabe","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"house","name":"influxDb","usetls":false,"tls":""},{"id":"fbee898c.777718","type":"ui_group","z":"","name":"LED","tab":"adccc3c9.6c32d8","disp":true,"width":"6"},{"id":"adccc3c9.6c32d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
